<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>gabojago 코스추천_입력페이지</title>
  <style>
    .search {
      position: relative;
      width: 300px;
    }

    .search>input {
      width: 100%;
      border: 1px solid #bbb;
      border-radius: 8px;
      padding: 10px 12px;
      font-size: 14px;
    }

    .search>img {
      position : absolute;
      width: 17px;
      top: 10px;
      right: 12px;
      margin: 0;
    }
  </style>
</head>
<body>
<h1>코스추천_입력페이지</h1>

<form action='add' method="post" enctype="multipart/form-data">

  <p>
    <button type='submit'>저장</button>
    <a href='recommendationList'>취소</a>
  </p>

  <td><input name='title' type='text' size='60' palceholder="한줄에 사로잡는 제목"></td>

  <div class="search">
    <input type="text" placeholder="다녀온 장소의 이름을 입력해주세요.">
    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
  </div>

<table border='1'>

  <tr>
    <th>사진</th><td><img src="https://via.placeholder.com/150"></td>
    <th>내용</th><td><textarea name='cont' rows='10' cols='40'></textarea></td>
  </tr>

<!--  <tr>-->
<!--    <th>첨부파일</th><td><input name='files' type="file" multiple></td>-->
<!--  </tr>-->
</table>

</form>

</body>
</html>