* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

/* 배경그림 */
.bgimage {
  background-image: url(../images/bgimage.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.logoimagebox {
  width: 15%;
  padding-left: 5vw;
  padding-top: 2vh;
  position: relative;
  top: 1.7vh;
  left: 0;
}

.logoimagebox img {
  width: 100%;
}

/* menu */
header {
  position: fixed;
}

.menu {
  float: right;
}

.menu li {
  float: left;
  margin-right: 4vw;
  color: white;
  position: relative;
  top: -2.3vh;
  left: 0;
}

.menu > li > a {
  font-size: 1.563vw;
}

.menu > li > a > img {
  width: 2vw;
}

/* recommand */
.recommand {
  padding-top: 8vh;
  padding-left: 5vw;
}

.recommand > p {
  color: white;
  font-size: 0.938vw;
  margin-bottom: 1vh;
}

.recommand > h3 {
  color: white;
  font-size: 5.333vh;
}

.recommand > h3 > span {
  display: block;
}

/* step1 */
.step1 {
  margin-top: 4vh;
  padding-left: 5vw;
}

.step1 > h5 {
  color: white;
  font-size: 1.42vw;
  margin-bottom: 1vh;
}

.step1 > ul {
  width: 100%;
  height: 34vh;
}

.step1 > ul > li {
  width: 12vw;
  height: auto;
  float: left;
  margin-right: 3.3vh;
}

.step1 > ul > li > a > img {
  width: 100%;
  height: auto;
}

/* step2 */
.step2 {
  padding-left: 5vw;
}

.step2 > h5 {
  color: white;
  font-size: 1.42vw;
  margin-bottom: 1vh;
}
